<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="Base::layout(~{::section})">
<head>
	<meta charset="UTF-8" />
	<title>Smart Contact Mangager</title>
</head>
<body>
	<section class="banner d-flex justify-content-center align-items-center">
		<div class="text-center">
			<h1>Contact Manager</h1>
			<p>Collecting your contacts in very smarter way. We provide very efficient and smarter way of
				handling contacts.</p>
			<a class="btn btn-info btn-lg" th:href="@{/login}">Get Started</a>
		</div>
	</section>
</body>
</html>