<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{Base::layout(~{::section})}">
<head>
	<meta charset="UTF-8" />
	<title>Smart Contact Manager</title>
</head>
<body>
	<section>
		<div class="container">
			<div class="row d-flex justify-content-center align-items-center" style="height:95vh">
				<div class="col-md-5">
					<div class="card">
						<div class="card-body">
							<h3 class="text-center m-3">Your Registered Email</h3>
							<form th:action="@{/send-otp}" method="post">
								<div class="alert alert-danger text-center" th:if="${session.failMsg}">
									<span class="fs-6">[[${session.failMsg}]] ⚠️⚠️⚠️</span>
									<th:block th:text="${@helper.removeSessionMessage()}"></th:block>
								</div>
								<div class="form-group mb-3">
									<input type="email" placeholder="Enter email here.." class="form-control" name="email" autocomplete=off required/>
								</div>
								<div class="form-group my-4 d-flex justify-content-center">
									<input type="submit" value="Send OTP" class="btn btn-warning" />
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>